*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    //color: red;
}

body{
    height: 100vh;
    // transition: fadeInOut 400ms ease-in-out;
}

// @keyframes fadeInOout {
//     0%{opacity: 1;}
//     50%{opacity: 0;}
//     100%{opacity: 1;}
// }

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

